.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
  border: none;
  gap: 8px;
  width: 100%;
  position: relative;
}

.button:active:not(.disabled) {
  opacity: 0.85;
}

.icon {
  display: flex;
  margin-top: -1px;
}

.text {
  white-space: nowrap;
}

/* Primary */
.primary {
  background-color: var(--color-primary-950);
  color: var(--color-primary-0);
}
.primary:not(.disabled):hover {
  background-color: var(--color-grey-700);
}
.primary.disabled {
  background-color: var(--color-grey-300);
  color: var(--color-primary-0);
  cursor: not-allowed;
}

/* Secondary */
.secondary {
  background-color: var(--color-primary-0);
  color: var(--color-primary-950);
  border: 1px solid var(--color-grey-200);
}
.secondary:not(.disabled):hover {
  background-color: var(--color-grey-200);
}
.secondary.disabled {
  color: var(--color-grey-400);
  border-color: var(--color-grey-300);
  cursor: not-allowed;
}

/* Tertiary */
.tertiary {
  background: transparent;
  color: var(--color-primary-950);
}
.tertiary:not(.disabled):hover {
  color: var(--color-grey-500);
}
.tertiary.disabled {
  color: var(--color-grey-400);
  cursor: not-allowed;
}

/* Danger */
.danger {
  color: var(--color-primary-0);
  background-color: var(--color-red-500);
}
.danger:not(.disabled):hover {
  opacity: 0.85;
}
.danger.disabled {
  background-color: var(--color-grey-300);
  color: var(--color-grey-500);
  cursor: not-allowed;
}
